{% extends 'layout.html' %}

{% block body %}
<div class="container mt-4">
    <h2>Energy-Efficient Appliances</h2>
    <h4>Basic information:</h4>
    <p>Energy-efficient appliances are designed to optimize energy use without sacrificing performance or comfort.
        They often incorporate advanced technologies and engineering innovations that improve efficiency while
        maintaining high-quality performance.These appliances are a smart choice for both your wallet and the environment because not only do they lessen energy bills, but the reduced energy usage cuts down emissions. </p>
    <img src="/static/media/appliances_info.jpg" height="300" width="500" >
    <img src="/static/media/led.jpg" height="300" width="500">
    <h4>Cost:</h4>
    <p>The cost of new appliances varies based on the type and features. Provided below are a range of costs depending
        on what you want to install:
        Refrigerators: $400 to $3,000+ each.
        Dishwashers: Varying prices depending on the model and features.
        HVAC Systems: These account for 40% of your energy costs. </p>
    <h4>Tax rebate information:</h4>
    <p>Up to $3,200 after January 1, 2023, and through 2032. </p>
    <a href="https://www.energystar.gov/about/federal-tax-credits"><img src="/static/media/energystar.jpg" height= "50" width = "150"</img></a>
    <h4> Practices:</h4>
    <p>While shopping for an appliance, look for the EPA Energy Star Label, as these tend to provide the best
        energy efficiency within your homes. Also, be sure to opt for models with features like smart sensors, variable
        speed settings,
        and energy-saving modes. </p>

</div>

{% endblock %}