{% extends 'layout.html' %}

{% block body %}
<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Energy Efficient Appliances. <span
                    class="text-muted">Better energy appliances.</span></h2>
            <p class="lead">Investing in energy-efficient appliances is another way to reduce energy consumption. </p>
            <a class="btn btn-primary" href={{url_for('info',subject = 'eea',topic = 'appliances')}} role="button">LEARN MORE</a>

        </div>
        <div class="col-md-5">
            <img class="featurette-image  img-fluid mx-auto" src="/static/media/lightbulb.jpg" height="500"
                 width="500">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Insulation and Windows. <span
                    class="text-muted">Natural light and materials.</span></h2>
            <p class="lead">While not a type of renewable energy, having energy-efficient windows and improved
                insulation allow you to save money on your usage of energy. This is something that can be applied at your house. </p>
            <a class="btn btn-primary" href={{url_for('info',subject = 'eea',topic = 'insulation')}} role="button">LEARN MORE</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image  img-fluid mx-auto" src="/static/media/insulation and windows.png" height="500" width="500">

        </div>
    </div>
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}



