{% extends 'layout.html' %}

{% block body %}
<div class="container mt-4">
    <h2>Fuel Cells</h2>

    <h4>Basic information:</h4>
    <p>Fuel cells are devices that convert chemical energy from a fuel into electricity through an electrochemical
        reaction, typically using hydrogen as the fuel source. They offer a clean and efficient way to generate
        electricity, emitting only water and heat as byproducts. Fuel cells are gaining attention in renewable energy
        systems as they can be powered by hydrogen produced from renewable sources such as wind or solar energy.
    </p>
    <img src="/static/media/fuelcell_stack.png" height="300" width="500" >
    <img src="/static/media/hydrogen.jpg" height="300" width="500">
    <h4>Cost:</h4>
    <p>Fuel cell costs have been decreasing steadily due to advancements in manufacturing and materials, with some
        estimates suggesting costs could approach competitiveness with traditional power sources in the coming years.
        Small-scale residential fuel cell systems can range from several thousand to tens of thousands of dollars, while
        larger industrial or commercial systems can cost hundreds of thousands to millions of dollars.
    </p>

    <h4>Tax rebate information:</h4>
    <p>Rebates in the form of tax credits are available to homeowners that can lower the cost of implementing battery
        storage technology
        up to 30% as outlined below:</p>
    <ol>
        <li>30% for property placed in service after December 31, 2016, and before January 1, 2020.</li>

        <li>26% for property placed in service after December 31, 2019, and before January 1, 2022.</li>

        <li>30% for property placed in service after December 31, 2021, and before January 1, 2033.</li>

        <li>26% for property placed in service after December 31, 2032, and before January 1, 2034.</li>

        <li>22% for property placed in service after December 31, 2033, and before January 1, 2035.</li>
    </ol>
    <a href="https://www.energystar.gov/about/federal-tax-credits/fuel-cells"><img src="/static/media/energystar.jpg" height= "50" width = "150"</img></a>
    <h4>Practices:</h4>
    <p>
        To effectively utilize and maintain a renewable energy fuel cell at home, ensure the system is installed by a
        certified technician. Regularly inspect the fuel cell for any leaks or damages and keep the area around it clear
        for ventilation. Follow manufacturer guidelines for refueling or replenishing the energy source, and schedule
        routine maintenance checks to optimize performance and longevity. Additionally, stay informed about any updates
        or advancements in fuel cell technology to make informed decisions about its usage and potential upgrades.


    </p>

</div>

{% endblock %}