{% extends 'layout.html' %}

{% block body %}

<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Battery Storage Technology.<span
                    class="text-muted">Battery Energy.</span></h2>
            <p class="lead">Batteries are a great way of having extra energy stored that can be used. </p>
            <a class="btn btn-primary" href="/pages/Electricity-and-Power-Generation/batterystoragetechnology.html" role="button">LEARN MORE</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image  img-fluid mx-auto" src="/static/media/airsourceheatpump.jpg" height="500"
                 width="500"> </img>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Fuel Cells. <span
                    class="text-muted">The power of atoms.</span></h2>
            <p class="lead">Fuel Cells are another type of green energy that you can used witin your homes. </p>
            <a class="btn btn-primary" href="/pages/Electricity-and-Power-Generation/fuelcells.html" role="button">LEARN MORE</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image  img-fluid mx-auto" src="/static/media/solar.jpg" height="500" width="500"> </img>

        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Micro-Hydropower. <span
                    class="text-muted">Harness the power of water.</span></h2>
            <p class="lead">If you have a river/lake near your house, installing a microhydropower is beneficial fo your
                house and your appliances.This is due to water running through your microhydropower, which is powering your stuff..</p>
            <a class="btn btn-primary" href="/pages/Electricity-and-Power-Generation/microhydropower.html" role="button">LEARN MORE</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image  img-fluid mx-auto" src="/static/media/microhydropower.png"
                 height="500" width="500"> </img>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Small Wind Turbines. <span
                    class="text-muted">Harness the power of the wind.</span></h2>
            <p class="lead">Small-scale wind turbines can be an effective solution for generating energy in windy areas.These turbines can supplement your home's energy needs, further reducing reliance on non-renewable energy sources.</p>
            <a class="btn btn-primary" href="/pages/Electricity-and-Power-Generation/smallwindturbines.html" role="button">LEARN MORE</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image  img-fluid mx-auto" src="/static/media/sander-weeteling-iGDg_f_mlWo-unsplash(1).jpg"
                 height="500" width="500"> </img>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Solar Energy Systems. <span class="text-muted">Harness the power of the sun.</span></h2>
            <p class="lead">Investing in a home solar energy system not only slashes your electricity bills but also
            transforms your home into an eco-friendly powerhouse. With solar panels adorning your roof, you'll harness
            clean, renewable energy straight from the sun, reducing your carbon footprint and contributing to a
            sustainable future. Plus, with various incentives and financing options available, going solar is not just
            environmentally responsible but also financially savvy, offering long-term savings and energy independence
            for your household.</p>
            <a class="btn btn-primary" href="/pages/Electricity-and-Power-Generation/solarenergysystems.html" role="button">LEARN MORE</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/static/media/EnergyEfficentAppliances.png"
                 height="500"></img>

        </div>
    </div>
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}
