{% extends "layout.html" %}

{% block body %}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Electricity and Power Generation</h1>
            <p class="lead">Learn about how you can get your home powered by renewable energy to combat electric bills
                and climate change, while providing efficient electricity for your home!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
                   href={{url_for("info", subject='epg' , topic='overview' )}} role="button"
                   rel="nofollow">Learn more</a>
                <!--                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>-->
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="/static/media/epg.jpg" alt="" width="720">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Energy Efficient Appliances</h1>
            <p class="lead">These appliances help reduce your energy consumption through superior engineering and
                alternative solutions. Explore which ones will be perfect in your home! </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
                   href={{url_for("info", subject='eea' , topic='overview' )}} role="button"
                   rel="nofollow">Learn More</a>
                <!--                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>-->
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="/static/media/energy efficient appliances.png" alt="" width="720">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Heat and Cooling Solutions</h1>
            <p class="lead">
                Efficient home heating and cooling solutions, like programmable thermostats and proper insulation, can
                significantly reduce energy consumption and utility costs while maintaining optimal comfort levels
                year-round.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
                   href={{url_for("info", subject='hcs' , topic='overview' )}} role="button"
                   rel="nofollow">Learn more</a>
                <!--                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>-->
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="/static/media/heating and cooling solutions.png" alt="" width="720">
        </div>
    </div>
</div>
{% endblock %}